
body{
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 14px;
    color: #999;
    background-color: #fff;
    font-weight: 400;
    line-height: 1;
    position: relative;
    overflow-x: hidden;
}
.container{
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.row{
    margin: 0 -15px;
}

ul{
    list-style: none;
}
.wrapper{
    width: 100%;
    overflow: hidden;
}

.header{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #fff;
    padding-top: 40px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

.header_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo{
    display: flex;
    border: 3px solid #fff;
    height: 52px;
    width: 141px;
    align-items: center;
    font-size: 36px;
    text-transform: uppercase;
}

.logo_b{
    color: #4a4c55;
    font-weight: bold;
    background-color: #fff;
    width: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.logo_ino{
    text-align: center;
    width: 86px;
    font-weight: 300;
}

.header_nav{
    max-width: 730px;
    width: 100%;
}

.header_nav-list{
    display: flex;
    text-transform: uppercase;
    font-weight: 300;
    justify-content: space-between;
}



.header_nav-item{
    color: #fff;
    padding: 18px 0;
    display: block;

}

.header_nav-item:hover{
    color: #e74c3c;
    border-bottom: 1px solid #e74c3c;
    font-weight: bold;
    
}


/* slider */

.section_carousel{
    margin-bottom: 125px;
}

.carousel{
    max-width: 100vw;
}

.carousel_item{
    width: 100%;
    position: relative;
    overflow: visible;
}


.slide-container {
    position: absolute;
    z-index: 9;
    left: 50%;
    top: 33%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;

}

.slide_title{
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-bottom: 45px;
}

.slide_header{
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 40px;
}

.slide_text{
    max-width: 600px;
    line-height: 30px;
    color: #cbc6c0;
    margin: 0 auto 70px;
}

.slide_btn{
    width: 223px;
    height: 50px;
    color: #fff;
    background-color: transparent;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid #fff;
    margin: 0 15px;
}

.slide_btn:hover{
    background-color: #e74c3c;
    border: 1px solid #e74c3c;

}

.slick-prev{
    left: 25px;
    width: 45px;
    height: 45px;
    background: #706863;
    border-radius: 2px;
    z-index: 999;
}

.slick-next{
    right: 25px;
    width: 45px;
    height: 45px;
    background: #706863;
    border-radius: 2px;
    z-index: 999;
}

.slick-prev:focus,
.slick-next:focus
{
 visibility: hidden;
}

.slick-next:hover,
.slick-prev:hover{
    background: #e74c3c;
    color: #fff;
}



.slick-next:hover:before, .slick-prev:hover:before{
    color: #fff;    
}

.slick-prev:before {
    content: '\f104';
    color: #3c3530;
    opacity: 1;
    font-family: FontAwesome;
    font-size: 30px;
}

.slick-next:before {
    content: '\f105';
    color: #3c3530;
    opacity: 1;
    font-family: FontAwesome;
    font-size: 30px;
}

.slick-list{
    overflow: visible;
}

.slick-slide{
    outline: none;
}


.dark:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1; 
}

.white{
    background-color: #fff;
}

.white:after{
    content: '';
    width: 100.1%;
    height: 12.43%;
    position: absolute;
    bottom: 0;
    left: 0;
    /* background: white; */
    z-index: 2;
    /* background: linear-gradient(to right top, transparent 50%, #fff) left / 50% 100% no-repeat; */
    background: linear-gradient(to right bottom, transparent 49.5%, #fff 50%) right / 50% 100% no-repeat, linear-gradient(to left bottom, transparent 49.5%, #fff 50%) left / 50% 100% no-repeat;
}


 .separator{
    height: 7px;
    width: 7px;
    background-color: #e74c3c;
    border-radius: 50%;
    display: block;
    margin: 0 auto 65px;
    position: relative;
} 

.separator:before,
.separator:after{
    content: '';
    position: absolute;
    width: 80px;
    height: 1px;
    background: #999;
    transform: translateY(-50%);

}

.separator:before {
    top: 50%;
    right: 22px;
}
.separator:after {
    top: 50%;
    left: 22px;
}

.anchor{
    position: absolute;
    left: 50%;
    bottom: 0;
     /*    background: rgba(255, 255, 255, .25);
border-radius: 50%;
    width: 70px;
    height: 70px; */
    transform: translate(-50%,50%);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 3999;
    text-decoration: none;
}
.anchor>a{
    background: #f4f5f9;
    width: 64px;
    height: 64px;    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, .25);
    text-decoration: none;


}

.col_1-4{
    width: 25%;
    padding: 0 15px;
}

.section_advantages{
    border-bottom: 1px solid #e6e7eb;
    margin-bottom: 140px;
}

.advantages{
    display: flex;
    text-align: center;
    padding-bottom: 115px;

    
}

.advantages_img{
    height: 72px;
    width: 72px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    position: relative;
}

.advantages_img-border{
    height: 72px;
    width: 72px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #e95c57;    
    transition: 0.3s ease;
}

.advantages_title{
    font-size: 18px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    transition: 0.3s ease;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;

}

.advantages_title:after{
    content: '';
    background: #888;
    height: 1px;
    width: 40px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}

.advantages_text{
    line-height: 20px;
    padding: 0px 20px;
}

.rotate_45{
    transform: rotate(45deg);
}



.section_history{
    margin-bottom: 145px;
}

.history_container{
    display: flex;
}

.history_content{
    flex-direction: column;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.col_1-2{
    width: 50%;
}

.history_title{
    font-size: 36px;
    font-weight: bold;
    padding-left: 35px;
    border-left: 6px solid #e74c3c;
}

.history_text{
    line-height: 29px;
}

.history_btn{
    -webkit-box-shadow: 2px 2px 5px 3px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 2px 5px 3px rgba(0,0,0,0.25);
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.25);
    font: bold 14px 'Open Sans';
    color: white;
    background: #e74c3c;
    border: none;
    width: 225px;
    height: 56px;
    border-radius: 2px;
}

.section_services{
    display: flex;
}

.slide_services{
    margin-bottom: 140px;

}
.services_content{
    width: calc(100%*13/24);
    background: #202020;
    padding-top: 150px;
    text-align: end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.services_img{
    width: calc(100%*11/24);
}

.services_header{
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 80px;
    margin-right: 81px;
}

.services_block{
    max-width: 570px;
    margin-bottom: 69px;
    position: relative;
    padding-right: 81px;
}
.services_title{
    font-size: 18px;
    font-weight: semi-bold;
    color: #e74c3c;    
    margin-bottom: 20px;
}

.services_text{
    line-height: 29px;
}

.cervices_icon {
    position: absolute;
    top: 50%;
    right: 0;
    background: #f4f5f9;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translate(50%, -50%);
    box-shadow: 0 0 0 4px rgba(255, 255, 255, .25);
}

.service_carousel>.slick-dots li button {
    background: #3e3e3e;
    width: 1px;
    padding: 0;
    height: 34px;
    margin: 0 5px;
}

.service_carousel>.slick-dots li.slick-active button {
    background: #e74c3c;
    width: 2px;

}

.service_carousel>.slick-dots {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    left: 50px;
    bottom: 50%;
    transform: translateY(-50px);
}

.service_carousel>.slick-dots li {
    height: auto;
    margin: 10px 0;
    padding: 0;
    cursor: pointer;
}

.service_carousel>.slick-dots li button:before {
    content: '';
    width: unset;
    height: unset;
}


.section_portfolio{
    text-align: center;
}

.portfolio_header{
    flex-wrap: bold;
    font-size: 36px;
    color: #6a6a6a;
    margin-bottom: 30px;
}

.portfolio_text{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

.tabs_nav{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.tabs_nav-item:not(:last-child){
    margin-right: 17px;
}

.tabs_nav-item:not(:last-child)::after{
    content: '/';
    padding-left: 17px;
}

.tabs_tab:not(:first-child){
    display: none;
}

.tabs_nav-link{
    color: #999;
}

.active{
    color: #e74c3c
}

.portfolio_content{
    display: flex;
    flex-wrap: wrap;
}

.img_box{
    width: 25%;
    position: relative;
}

.img_box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(197, 73, 63, 0.8);;  
    z-index: 1;
    opacity: 0;
}

.img_box:hover:before {
    transition: .4s ease-out;
    opacity: 1;
}

.portfolio_box-content{
    position: absolute;
    left: 50px;
    bottom: 50px;
    color: #fff;
    text-align: start;
    z-index: 2;
    opacity: 0;
    transition: .4s ease;
}

.display_block{
    opacity: 1!important;
}

.display_block:after{
    opacity: 1!important;
}

.portfolio_box-title{
    font-size: 24px;
    font-weight: 700;
    padding: 30px 0 20px;
    position: relative;
    
}
.portfolio_box-title::before{
content: '';
background: #fff;
height: 4px;
width: 44px;
position: absolute;
top: 0;
left: 0;
}


.portfolio_box-title{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.section_cafe{
    background: #f4f5f9;
    padding: 150px 0;
}



.cafe_header{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 30px;
    color: #6a6a6a;
}

.cafe_text{
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.cafe_contant-holder{
    display: flex;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
}

.cafe_text-holder{
    position: absolute;
    background: #fff;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.1);
    width: 665px;
    height: 630px;
    left: 0;
    top: 45px;
    text-align: center;
    overflow: hidden;
}

.cafe-slide-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 110px;
    padding-bottom: 40px;
}

.cafe_content-icon{
    width: 91px;
    height: 91px;
    background: #e74c3c;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
    overflow: hidden;
    margin-bottom: 65px;
}

.cafe_content-icon img{
    transform: rotate(-45deg);
}

.cafe_content-title{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.35px;
    color: #6a6a6a;
    padding-bottom: 30px;
    margin-bottom: 20px;
    font-family: 'Open Sans';

}

.cafe_content-text{
    font-weight: 300;
    max-width: 550px;
    letter-spacing: 1.3px;
    text-align: center;
    margin-bottom: 50px;
}

.cafe_content-btn{
    width: 145px;
    height: 46px;
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 700;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    background-color: #e74c3c;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
}

.cafe_slide>.slick-dots li button:before {
    font-size: 12px;
    color: #f4f5f9;
    opacity: 1;
}

.cafe_slide>.slick-dots li.slick-active button:before {
    color: #e74c3c;
    opacity: 1;
}

.section_achievements{
    padding: 8.15% 0 7.352%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
    color: #fff;
    margin-bottom: 150px;
    position: relative;

}

.section_achievements:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1; 
}

.achievements_holder{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 3;
}

.achievements_item{
    max-width: 20%;
}


.achievements_img{
    width: 110px;
    height: 110px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 50px;}

.achievements_number{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.achievements_text{
    font-size: 18px;
    text-align: center;
}

.pricing_content-holder{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pricing_content-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 380px;
    width: 100%;
    background: #f4f5f9;
}

.pricing_content-header{
    height: 205px;
    background: #999;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-top: 50px;
    width: 100%;
}

.pricung_content-price{
    width: 155px;
    height: 155px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, .25);
    transform: translatey(-50%);
    margin-bottom: 40px;
}

.price_numeral{
    font-size: 40px;
    font-weight: bold;
}

.pricing_content-list{
    transform: translateY(-50%);
    text-align: center;
    margin-bottom: 50px;
}

.pricing_content-text{
    font-weight: 700;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 40px;
}

.pricing_content-btn{
    width: 145px;
    height: 46px;
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 700;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    background-color: #999;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
    transform: translateY(-50px);
}

.color_orange{
    color: #e95c57;
}

.background_orange{
    background-color: #e95c57;
}

.section_pricing{
    margin-bottom: 145px;
}

.section_team{
    padding: 8.15% 0 7.352%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
    color: #fff;
    position: relative;

}

/* .section_team:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1; 
} */

.team_content{
    color:#fff;
    position: relative;
    z-index: 2;
    text-align: center;
}

.separator_white{
    margin-bottom: 190px;
}

.separator_white::before,
.separator_white::after{
    background: #fff;
    transform: none;
}

.team_header{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 30px;
}

.team_text{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

.team_content-holder{
    display: flex;
    justify-content: space-between;
}

.team_content-img{
    border: 3px solid #e74c3c;
    border-radius: 50%;
    width: 57px;
    height: 56px;
    margin-bottom: 120px;
    position: relative;
    transition: 0.3s ease;
}

.team_content-img::after{
    content: '';
    bottom: -54px;
    left: 50%;
    width: 1px;
    height: 50px;
    background: #ccc8c8;
    position: absolute;
    opacity: 0;
    transform: translateX(-50%);
    transition: 0.3s ease;


}

.team_content-text{
    opacity: 0;
    transition: 0.3s ease;
}


.team_content-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease;

}

.team_content-name{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    color: #e74c3c;
    margin-bottom: 15px;
}

.team_contemt-position{
    letter-spacing: 1.5px;
}

.big_img{
    transform: scale(1.5);
}

.footer{
    padding: 30px 0;
    background: #202020;
}

.footer_conteiner{
    display: flex;
    justify-content: space-between;
}

.social_list{
    display: flex;
}

.social_item:not(:last-child){
    margin-right: 15px;
}

.social_link{
    color: #999;
}

.social_link i {
    font-size: 20px;
}

.social_link:hover{
    color: #e74c3c;
}

.copyright{
    font-weight: 700;
}